#ignore output directory
cmake-build-debug/
build/

#ignore dlib docs
docs/

#ignote dlib examples
examples/
python_examples/

#ide settings
.idea/

#test data
test_data/
test_dataset/

#working data
work_data/


